@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main {
  background-color: #F9F9F9;
  height: auto;
}
.enter {
  font-family: 'Poppins';
  text-align: center;
  padding-top: 10px;
  color: #7E74B6;
  font-size: large;
}
.content {
  font-family: 'Poppins';
  text-align: center;
  font-weight: semibold;
  font-size: large;
  color: #7E74B6;
  padding-top: 30px;
}
.radio {
  padding-top: 20px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.r1 {
  font-family: 'Poppins';
  padding-right: 10px;
  color: #7E74B6;
  font-weight: bold;
  width: 230px;
  border: 5px;
  padding: 15px;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
}

.r2 {
  font-family: 'Poppins';
  padding-right: 10px;
  margin-left: 30px;
  color: #7E74B6;
  font-weight: bold;
  width: 200px;
  border: 5px;
  padding: 15px;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
}

.r3 {
  font-family: 'Poppins';
  padding-right: 10px;
  margin-left: 30px;
  color: #7E74B6;
  font-weight: bold;
  width: 200px;
  border: 5px;
  padding: 15px;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
}



.input [type=text] {
  font-family: 'Poppins';
  width: 75%;
  height: 100%;
  padding: 13px;
  margin-bottom: 20px;
  justify-content:center ;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid	#505050;
  box-shadow: 1px 1px 1px gray;
}




